flows/Email_Acknowledgement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the &apos;Opportunity Email Acknowledgement&apos; Email Alert.</description>
        <name>Send_Acknowledgement_Email</name>
        <label>Send Acknowledgement Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.npsp__Opportunity_Email_Acknowledgment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Updates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.npsp__Opportunity_Email_Acknowledgment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks that all of the following are true before sending the Acknowledgement Email:
npsp__Acknowledgment_Status__c) = $Label.npsp__sendAcknowledgmentFireStatus
npsp__Primary_Contact__r.Email &lt;&gt; NULL
npsp__Primary_Contact__r.npsp__Do_Not_Contact__c &lt;&gt; True
npsp__Primary_Contact__r.HasOptedOutOfEmail &lt;&gt; True
npsp__Primary_Contact__r.npsp__Deceased__c &lt;&gt; True</description>
        <name>Acknowledgement_Email_Criteria_Check</name>
        <label>Acknowledgement Email Criteria Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Criteria Not Met</defaultConnectorLabel>
        <rules>
            <name>Acknowledgement_Email_Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Acknowledgment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaSendAcknowledgmentFireStatus</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.npsp__Deceased__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Acknowledgement_Email</targetReference>
            </connector>
            <label>Acknowledgement Email Criteria Met</label>
        </rules>
    </decisions>
    <description>Emails an acknowledgement to the Primary Contact for an Opportunity when the Acknowledgement Status is set to Email Acknowledgement Now. Runs after an Opportunity is created or updated.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula that retrieves the value of the sendAcknowledgementFireStatus custom label.</description>
        <name>formulaSendAcknowledgmentFireStatus</name>
        <dataType>String</dataType>
        <expression>{!$Label.npsp__sendAcknowledgmentFireStatus}</expression>
    </formulas>
    <interviewLabel>Email Acknowledgement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>@OPPT || C/U | Send Email Acknowledgement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the Acknowledgement Date and Acknowledgement Status fields on the triggering Opportunity record.</description>
        <name>Opportunity_Updates</name>
        <label>Opportunity Field Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Acknowledgement_Email_Criteria_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Acknowledgment_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
